.logo{
    margin-left: 4rem!important;
}

.main-nav{ 
    margin-right: 4rem!important;
}

.nav-toggle{
    margin-right: 4rem!important;
}

.nav-active{
    color: rgb(145, 145, 145) !important;
}

