.support-items{ 
    text-align: center;  

    
    .support-img { 
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px; 
    }
}

