.post-list{
    list-style: none;
}

.post-list-item{
    margin: 2rem 0;

    & a{
        color: black;
        text-decoration: none !important;

        &:hover{
            color: rgb(163, 162, 162);
            text-decoration: none !important;
        }
    }
}